@media screen and (min-width:900px) {
	.logo {
		background-size: auto 24em;
		height: 24em;
  }
	a {
		background-size: 7.5em;
		width: 7.5em;
		height: 7.5em;
		margin: 1em;
	}
	br {
		display: none;
	}
}

@media screen and (min-width:700px) and (max-width:899px) {
	.logo {
		background-size: auto 20em;
		height: 20em;
  }
	a {
		background-size: 6em;
		width: 6em;
		height: 6em;
		margin: 1em;
	}
	br {
		display: none;
	}
}

@media screen and (min-width:500px) and (max-width:699px) {
	.logo {
		background-size: auto 18em;
		height: 18em;
  }
	a {
		background-size: 6em;
		width: 6em;
		height: 6em;
		margin: 0.8em;
	}
	br {
		display: static;
	}
}

@media screen and (min-width:400px) and (max-width:499px) {
	.logo {
		background-size: auto 15em;
		height: 15em;
  }
	a {
		background-size: 5em;
		width: 5em;
		height: 5em;
		margin: 0.6em;
	}
	br {
		display: static;
	}
}

@media screen and (max-width:399px) {
	.logo {
		background-size: auto 12em;
		height: 12em;
  }
	a {
		background-size: 4em;
		width: 4em;
		height: 4em;
		margin: 0.5em;
	}
	br {
		display: static;
	}
}

@media screen and (max-height:399px) {
	.logo {
		background-size: auto 12em;
		height: 12em;
  }
	a {
		background-size: 4em;
		width: 4em;
		height: 4em;
		margin: 0.5em;
	}
	br {
		display: static;
	}
}
