@media screen and (min-width:900px) {
	.logo {
		background-size: auto 24em;
		height: 24em;
  }
	a {
		background-size: 7.5em;
		width: 7.5em;
		height: 7.5em;
		margin: 1em;
	}
	br {
		display: none;
	}
}

@media screen and (min-width:700px) and (max-width:899px) {
	.logo {
		background-size: auto 20em;
		height: 20em;
  }
	a {
		background-size: 6em;
		width: 6em;
		height: 6em;
		margin: 1em;
	}
	br {
		display: none;
	}
}

@media screen and (min-width:500px) and (max-width:699px) {
	.logo {
		background-size: auto 18em;
		height: 18em;
  }
	a {
		background-size: 6em;
		width: 6em;
		height: 6em;
		margin: 0.8em;
	}
	br {
		display: static;
	}
}

@media screen and (min-width:400px) and (max-width:499px) {
	.logo {
		background-size: auto 15em;
		height: 15em;
  }
	a {
		background-size: 5em;
		width: 5em;
		height: 5em;
		margin: 0.6em;
	}
	br {
		display: static;
	}
}

@media screen and (max-width:399px) {
	.logo {
		background-size: auto 12em;
		height: 12em;
  }
	a {
		background-size: 4em;
		width: 4em;
		height: 4em;
		margin: 0.5em;
	}
	br {
		display: static;
	}
}

html, body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		cursor: default;
}

html {
		background: linear-gradient(-45deg, rgba(250, 220, 20, 0.8), rgba(215, 10, 70, 1));
		background: -webkit-linear-gradient(-45deg, rgba(215, 10, 70, 1), rgba(250, 220, 20, 1));
		position: fixed;
}

a {
		display: inline-block;
		-webkit-transition: -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
		transition: transform 0.5s ease, filter 0.5s ease;
		background-repeat: no-repeat;
		border-radius: 50%;
}

a:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		border-radius: 50%;
		cursor: pointer;
}

h1 {
		font-family: sans-serif;
		font-weight: 200;
		font-size: 200%;
}

.center {
		position: relative;
		top: 50%;
		left: 50%;
		text-align: center;
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		-webkit-filter: drop-shadow(0.5em 0.5em 1em rgba(0, 0, 0, 0.3));
		filter: drop-shadow(0.5em 0.5em 1em rgba(0, 0, 0, 0.3));
}

.logo {
		background-image: url(img/logo.svg);
		background-position: center;
		background-repeat: no-repeat;
}

.itunes {
		background-image: url(img/itunes.png);
}

.google {
		background-image: url(img/google.png);
}

.spotify {
		background-image: url(img/spotify.png);
}

.soundcloud {
		background-image: url(img/soundcloud.svg);
}

.mail {
		background-image: url(img/mail.svg);
}
